@model IEnumerable<BandEngine.Models.ConcertViewModel>

@{
    ViewBag.Title = "Upcoming Concerts";
}

<p>
    <h5>
        @Html.ActionLink("Upcoming Concerts", "Index") |
        @Html.ActionLink("Past Concerts", "PastConcerts") |
        @Html.ActionLink("Tours", "Index", "Tour")
    </h5>
</p>

<h2>Upcoming Concerts</h2>


<p>
        @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Venue Name")
        </th>
        <th>
            @Html.DisplayName("Venue Address")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Concert.ConcertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concert.VenueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullAddress)
        </td>
        <td>
            @Html.ActionLink("Set List", "SetList", new { id=item.Concert.ConcertId }) |
            @Html.ActionLink("Details", "Details", new { id=item.Concert.ConcertId })
        </td>
    </tr>
}

</table>
