@model IEnumerable<BandEngine.Models.ConcertViewModel>

@{
    ViewBag.Title = "Past Concerts";
}

<p>
    <h5>
        @Html.ActionLink("Upcoming Concerts", "Index") |
        @Html.ActionLink("Past Concerts", "PastConcerts") |
        @Html.ActionLink("Tours", "Index", "Tour")
    </h5>
</p>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Concert Attendance"
	},
	axisY:{
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints: [
			{ y: 100 },
			{ y: 80 },
			{ y: 45 }
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<h2>Past Concerts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Venue Name")
        </th>
        <th>
            @Html.DisplayName("Venue Address")
        </th>
        <th>
            @Html.DisplayName("Attendance")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.ConcertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.Attendance)
            </td>
            <td>
                @Html.ActionLink("Update Attendance", "Attendance", new { id = item.Concert.ConcertId })
            </td>
        </tr>
    }

</table>
