@model BandEngine.Models.SetListViewModel

@{
    ViewBag.Title = "SetList";
}

<p>
    <h5>
        @Html.ActionLink("Upcoming Concerts", "Index") |
        @Html.ActionLink("Past Concerts", "PastConcerts") |
        @Html.ActionLink("Tours", "!NEEDTOBEADDED!")
    </h5>
</p>

<h2>Set List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Set List Position")
        </th>
        <th>
            @Html.DisplayName("Song")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SetList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.SongName)
            </td>
            <td>
                @Html.ActionLink("Move Up", "MoveUp", new { id = item.SongId, concertId = Model.CurrentConcert.ConcertId }) |
                @Html.ActionLink("Move Down", "MoveDown", new { id = item.SongId, concertId = Model.CurrentConcert.ConcertId }) |
                @Html.ActionLink("Remove", "Remove", new { id = item.SongId, concertId = Model.CurrentConcert.ConcertId })
            </td>
        </tr>
    }

</table>

<h2>All Songs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Song Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AllSongs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.ActionLink("Add To Set List", "AddToSetList", new { id = item.SongId, concertId = Model.CurrentConcert.ConcertId })
            </td>
        </tr>
    }

</table>
