@model BandEngine.Models.Tour

@{
    ViewBag.Title = "Delete";
}

<p>
    <h5>
        @Html.ActionLink("Upcoming Concerts", "Index", "Concert") |
        @Html.ActionLink("Past Concerts", "PastConcerts", "Concert") |
        @Html.ActionLink("Tours", "Index", "Tour")
    </h5>
</p>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
