@model BandEngine.Models.TourViewModel

@{
    ViewBag.Title = "Route";
}

<h2>Route</h2>

@{
    var ApiUrlStr = BandEngine.Private.ApiKey.GoogleUrl;
    var ApiKeyStr = BandEngine.Private.ApiKey.GoogleKey;
    var ApiKeyCbk = BandEngine.Private.ApiKey.GoogleCallback;
    string googleMapsRequest = ApiUrlStr + ApiKeyStr + ApiKeyCbk;

}

<script async defer src=@googleMapsRequest>
</script>
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>

<div id="map">
    <script>
        function initMap() {
            var address = { lat: @Model.AllStopInfo[0].Address.Lat, lng: @Model.AllStopInfo[0].Address.Lng };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 12, center: address });
            var allStops;
                for (let i = 0; i < @Model.AllStopInfo.Count; i++) {
                    var marker = new google.maps.Marker({
                    lat: ,
                    lng: ,
                    map: map
                        });
            }
            

        }
    </script>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Venue")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
    </tr>

    @foreach (var item in Model.AllStopInfo)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.ConcertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concert.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
        </tr>
    }

</table>
